<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lyft</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/icon-lyft.png">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/materialize.min.css">
  </head>
  <body>
    <section class="home">
      <div class="contenedor-logo center">
       <img class="logo-blanco responsive-img" src="../assets/img/lyft-blanco.svg" alt="logo">
      </div>

      <section class="contenedor-btns center">
        <a class="waves-effect btn-home btn-large btn">Log in</a>
        <a class="waves-effect btn-home btn-sign btn-large btn cyan darken-1" href="signup.html">
          Sign up
        </a>
      </section>
    </section>
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/materialize.min.js"></script>
  </body>
</html
