<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lyft</title>
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/materialize.min.css">
  </head>
  <body>
    <section class="home">
      <div class="contenedor-logo aling-center">
       <img class="logo-blanco responsive-img" src="../assets/img/logo.png" alt="logo">
      </div>

      <section class="contenedor-btns aling-center">
        <a class="waves-effect btn-home btn-large btn">Log in</a>
        <a class="waves-effect btn-home sign btn-large btn cyan lighten-1">Sign up</a>
      </section>
    </section>
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/materialize.min.js"></script>
  </body>
</html
