.home{
    margin:0;
    padding: 0;
    height: 100vh;
    position: relative;
  	background-image: url(../img/ciudad.gif);
      background-size: cover;
      background-repeat: no-repeat;
  	  background-position: center;
  }
  .aling-center{
    text-align: center;
  }
  .logo-blanco{
    width: 30%;
    margin-top: 8%;
  }
  .contenedor-btns .btn-home{
    border-radius: 20px;
    border: 1px solid white;
    margin: 4%;
    margin-top: 70vh;
    background: rgba(255, 255, 255, .2)
  }
  .contenedor-btns .btn-sign{
    border: 1px solid #00acc1;
  }
